html {
    scroll-behavior: smooth;
}

body {
    background-color: #e8e8e8;
    font-family: 'Merriweather', serif;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}

.about-me {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
}

.about-me img {
    padding: 10px;
    width: 100%;
    border-radius: 2%;
}