* {
    box-sizing: border-box;
  }

body {
    background-color: #e8e8e8;
}
.card {
    height: 400px;
    width: 80%;
    background-color: #fff;
    margin: 4rem auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
}

nav {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  
  }
  
header {
    text-align: right;
    margin-bottom: 2rem;
}

header nav ul {
    list-style-type: none;
  }
  
header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }

footer {
    text-align: center;
}

/* html {
    scroll-behavior: smooth;
}

body {
    background-color: #e8e8e8;
    font-family: 'Merriweather', serif;
    padding: 20px;
    display: ;
}

a {
    color: #276678;
    text-decoration: none;
  }

  a:visited {
    color: #276678;
  }
  
  a:hover,
  a:focus {
    color: black;
  }

nav {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  
  }
  
header {
    text-align: right;
    margin-bottom: 2rem;
}

header nav ul {
    list-style-type: none;
  }
  
header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }

main {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
}

footer {
    text-align: center;
    margin: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
} */

/* .section {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
    float: left;
}

.about-me { */
    /* background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
    float: left; */
/* }

.about-me img {
    padding: 10px;
    width: 100%;
    border-radius: 2%;
} */
/* 
.container { */
    /* max-width: 1800px; */
  
  /* }

  .row {
    display: flex;
    flex-direction: column;
  
  }

  .top-text {
    padding: 10px;
  } */